<a href="{{ post.url | prepend: site.baseurl }}" class="catalogue-item">
  <div>
    {% if include.sticky == 'true' %}
    <span class="catalogue-pinned">Pinned &middot;</span>
    {% endif %}



    <time datetime="{{ post.date }}" class="catalogue-time">
      {% assign m = post.date | date: "%-m" %}
      {{ post.date | date: "%-d" }}
      {% case m %}
        {% when '1' %}Janeiro
        {% when '2' %}Fevereiro
        {% when '3' %}Março
        {% when '4' %}Abril
        {% when '5' %}Maio
        {% when '6' %}Junho
        {% when '7' %}Julho
        {% when '8' %}Agosto
        {% when '9' %}Setembro
        {% when '10' %}Outubro
        {% when '11' %}Novembro
        {% when '12' %}Dezembro
      {% endcase %}
      {{ post.date | date: "%Y" }}
    </time>
    <h1 class="catalogue-title">{{ post.title }}</h1>
    <div class="catalogue-line"></div>

    <p>
      {% if post.excerpt_separator %}
        {{ post.excerpt | strip_html }}
      {% else %}
        {{ post.content | strip_html | truncatewords: 30 }}
      {% endif %}
    </p>

  </div>
</a>
