<style type="text/css">
html {
  background: transparent !important;
}

img {
  display: flex;
  align-content: center !important;
}
</style>

<link rel="stylesheet" href="{{ '/assets/css/nav.css' | relative_url }}">


<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

</script>

<nav class="nav">
  <div class="nav-container">
    <div class="mobile-logo-menu">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <div class="mobile-menu-toggle">
      <div class="bar"></div>
      <div class="bar"></div>
      <div class="bar"></div>
    </div>
  </div>

    <div class="align">
      <ul class="mobile-menu" style="text-align: justify!important;">
        <!--<li><a href="{{ '/' | prepend: site.baseurl }}">Home</a></li><br>-->
        <li><a href="{{ '/skills' | prepend: site.baseurl }}">Skills</a></li><br>
        <li><a href="{{ '/projetos' | prepend: site.baseurl }}">Projetos</a></li><br>
        <li><a href="{{ '/posts' | prepend: site.baseurl }}">Posts</a></li><br>
        <li><a href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li><br>
      </ul>
    <div>
    <ul class="menu">
      <!--<li><a toggle="tooltip" data-placement="top" title="Home" href="{{ '/' | prepend: site.baseurl }}">/</a></li>-->
      <!--<li><a href="{{ '/notas' | prepend: site.baseurl }}">Notas</a></li>-->
      <!--<li><a href="{{ '/publicacoes' | prepend: site.baseurl }}">Publicações</a></li>-->
      <li><a href="{{ '/skills' | prepend: site.baseurl }}">Skills</a></li>
      <li><a toggle="tooltip" data-placement="top" title="Meu Portfólio" href="{{ '/projetos' | prepend: site.baseurl }}">Projetos</a></li>
      <li><a toggle="tooltip" data-placement="top" title="Blog" href="{{ '/posts' | prepend: site.baseurl }}">Posts</a></li>
      <li><a toggle="tooltip" data-placement="top" title="Tags de Posts" href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <!--<li>
        <a style="cursor: pointer;" toggle="tooltip" data-placement="top" title="Modo Escuro/Claro" id="darkmode" onclick="darkMode()">
          <i id="icon-dark" class="fa fa-moon"></i>
          <span id="dark-text"></span>
       </a>
      </li>-->
    </ul>
  </div>
</nav>

<script src="{{ '/assets/js/nav.js' | relative_url }}"></script>
