
<style>
  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css')
</style>

<style type="text/css">
html {
  background: transparent !important;
}

img {
  display: flex;
  align-content: center !important;
}
</style>

<script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>

</script>

<nav class="nav">
  <div class="nav-container">
    <a href="{{ site.baseurl }}/">
      <h2 class="nav-title">{{ site.title }}</h2>
    </a>
    <ul>
      <li><a toggle="tooltip" data-placement="top" title="Blog" href="{{ '/posts' | prepend: site.baseurl }}">Posts</a></li>
      <!--<li><a href="{{ '/notas' | prepend: site.baseurl }}">Notas</a></li>-->
      <!--<li><a href="{{ '/publicacoes' | prepend: site.baseurl }}">Publicações</a></li>-->
      <li><a toggle="tooltip" data-placement="top" title="Meu Portfólio" href="{{ '/projetos' | prepend: site.baseurl }}">Projetos</a></li>
      <li><a toggle="tooltip" data-placement="top" title="Tags de Posts" href="{{ '/tags' | prepend: site.baseurl }}">Tags</a></li>
      <!--<li>
        <a style="cursor: pointer;" toggle="tooltip" data-placement="top" title="Modo Escuro/Claro" id="darkmode" onclick="darkMode()">
          <i id="icon-dark" class="fa fa-moon"></i>
          <span id="dark-text"></span>
       </a>
      </li>-->
    </ul>
  </div>
</nav>

<style>
  * {
    font-family: monospace;
  }
</style>