<div class="pagination">
  {% if page.previous.url %}
    <a href="{{ page.previous.url | prepend: site.baseurl }}" toggle="tooltip" data-placement="top" title="Post anterior" class="left arrow" style=" padding: 0.5% 1.5% 0 1.5%; color: #353535; font-size: 35px">&nbsp;&#8592;&nbsp;</a>
  {% endif %}
  {% if page.next.url %}
    <a href="{{ page.next.url | prepend: site.baseurl }}" toggle="tooltip" data-placement="top" title="Próximo post" class="right arrow" style="padding: 0.5% 1.5% 0 1.5%; color: #353535; color: #353535;font-size: 35px ">&nbsp;&#8594;&nbsp;</a>
  {% endif %}

  <a href="#" class="top btn" toggle="tooltip" data-placement="top" title="Voltar para o topo" style="top: 1.5rem; padding: 0.5% 1.5% 0 1.5%; color: #353535;font-size: 35px"><i class="fa-sharp fa-solid fa-caret-up"></i></a>
</div>
