.cv {
  padding-top: 1.3%; 
  padding-bottom: 1.3%; 
  padding-left: 1%; 
  padding-right: 1%;
  border-color: #353535; 
  border: 2px solid #353535; 
  font-size: 10px; 
  color: #353535;
  opacity: 0.6;
  transition: 0.3s;
}

.link {
  border: 1px solid #353535;
  line-height: 20px;
  padding: 2%;
  font-weight: bolder;
  color: #353535;
  opacity: 0.6;
}

.nav-title2 {
  opacity: 0.6;
  color: ;
  padding: 0;
  margin-bottom: 0;
  padding-top: 2.5%;
}

.link:hover {
  opacity: 1;
}
.cv:hover {
  opacity: 1;
}

/* Estilo para a foto */
.photo {
  float: left;
  margin-top: 3%;
  margin-right: 20px; /* Espaçamento entre a foto e o texto */
  width: 250px; /* Largura da foto padrão */
  height: 300px; /* Altura da foto padrão */
}

.photo img {
  width: 100%;
  height: auto;
}

/* Estilo para o texto */
.text-container {
  text-align: justify;
  overflow: hidden; /* Para evitar que o texto flua ao redor da imagem */
}

/* Media query para dispositivos com largura de tela menor que 768px (dispositivos móveis) */
@media only screen and (max-width: 768px) {
  .photo {
    display: none;
  }
}

.center {
  height: 100%;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
