<!DOCTYPE html>
<html lang="pt-Br">
  {% include head.html %}

  <body ondragstart="return false;" ondrop="return false;">

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7513394193260475"
     crossorigin="anonymous"></script>     
  </body>
</html>

<style type="text/css">
  body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }

</style>

<script type="text/javascript">
var images = [];

function getImagesInFolder(folderPath) {
  $.ajax({
    url: folderPath,
    success: function(data) {
      $(data).find("a:contains('.png'), a:contains('.jpg'), a:contains('.jpeg')").each(function() {
        var imagePath = folderPath + $(this).attr("href");
        images.push(imagePath);
      });
    }
  });
}

function loadImages() {
  $(images).each(function() {
    var image = $("<img />").attr("src", this);
    $("body").append(image); // Change "body" to the appropriate container where you want to display the images
  });
}

// Replace '/path/to/assets/' with the actual path to your 'assets' folder
getImagesInFolder('/path/to/assets/');

$(document).ready(function() {
  loadImages();
});
</script>