<!DOCTYPE html>
<html lang="pt-Br">
  {% include head.html %}

  <body ondragstart="return false;" ondrop="return false;">

    {% include navigation.html %}

    <main>
      {{ content }}
    </main>

    {% include footer.html %}

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-7513394193260475"
     crossorigin="anonymous"></script>     
  </body>
</html>

<style type="text/css">
  body {
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
  }

  .responsive-latex {
  max-width: 100%;
  overflow-x: auto;
}

</style>
